@font-face {
  font-family: "iconfont"; /* Project id 4297031 */
  src: url('iconfont.woff2?t=1701358806793') format('woff2'),
       url('iconfont.woff?t=1701358806793') format('woff'),
       url('iconfont.ttf?t=1701358806793') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit-info-more:before {
  content: "\e601";
}

.icon-add1:before {
  content: "\e622";
}

.icon-close:before {
  content: "\e62e";
}

.icon-shanchu:before {
  content: "\e630";
}

.icon-shouye:before {
  content: "\f12d";
}

.icon-more_horizontal:before {
  content: "\e7b9";
}

.icon-icon-avatar:before {
  content: "\e667";
}

.icon-wages:before {
  content: "\e627";
}

.icon-jianzhi:before {
  content: "\e68c";
}

.icon-_xican:before {
  content: "\e824";
}

.icon-shuangsechangyongtubiao-:before {
  content: "\e608";
}

.icon-chongzhi:before {
  content: "\e600";
}

.icon-xiangxiazhankai:before {
  content: "\e767";
}

.icon-guanli:before {
  content: "\e60d";
}

.icon-xuexiguiji:before {
  content: "\e6c2";
}

.icon-traffic:before {
  content: "\e60f";
}

.icon-fun:before {
  content: "\e613";
}

.icon-back:before {
  content: "\e874";
}

.icon-tongxun:before {
  content: "\e80f";
}

.icon-shezhi:before {
  content: "\e817";
}

.icon-gouwu:before {
  content: "\e818";
}

.icon-tianjia:before {
  content: "\e67a";
}

.icon-tianjia1:before {
  content: "\e62f";
}

.icon-guanyu:before {
  content: "\e634";
}

.icon-wode:before {
  content: "\e609";
}

.icon-hongbao:before {
  content: "\f422";
}

.icon-bianji:before {
  content: "\e70c";
}

.icon-yiliao_xianjinzhifu:before {
  content: "\e641";
}

.icon-tianjia2:before {
  content: "\100cd";
}

.icon-licai1:before {
  content: "\e614";
}

.icon-zhuanzhang1:before {
  content: "\e619";
}

.icon-kafei:before {
  content: "\e6c6";
}

